

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */



.max_speed{
  margin: auto;
  margin-top: 60px;
  padding-bottom: 30px;
  height: 80px;
  width: 600px;
  border: 3px solid #11889b;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  display: flex;
 
}

.lift_capacity{
  margin: auto;
  margin-top: 60px;
  padding-bottom: 30px;
  height: 80px;
  width: 600px;
  border: 3px solid #11889b;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  display: flex;
}

.power_cons{
  margin: auto;
  margin-top: 60px;
  padding-bottom: 30px;
  height: 80px;
  width: 600px;
  border: 3px solid #11889b;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  display: flex;
}
.lift_brand{
  margin: auto;
  margin-top: 60px;
  padding-bottom: 30px;
  height: 80px;
  width: 600px;
  border: 3px solid #11889b;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  display: flex;
}

.box{
  
  margin: auto;
  margin-top: 60px;
  /* padding-top: 80%; */
  padding-bottom: 30px;
  height: 80px;
  width: 600px;
  border: 3px solid #11889b;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  display: flex;

}

p{
  vertical-align: baseline;
}
/* .nav{
width: 100%;
height: 80px;
margin-top: -50px;
font-family: 'Roboto Slab', serif;
font-size: 35px;
font-weight: 400;
color: aliceblue;
line-height: 46px;
letter-spacing: 0em;
padding-bottom: 20px;
background-color: rgb(37, 43, 221);
align-items: center;
} */

.pow_cons{
  color: blue;
}

.l_capacity{
  color: red;
}

.l_brand{
  color: blue;
}

.m_speed{
  color: red;
}

.battery_percent{
  color: rgb(39, 199, 6);
}

h1{
  padding-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');